<div class="container">
  <div class="panel panel-warning" id="resume_panel">
    <div class="panel-body">
      <iframe src="https://resume.creddle.io/embed/19xihvzs2ay" width="850" height="1100" seamless></iframe>
    </div>
  </div>
</div>